@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&family=Poppins:wght@100;200;400&display=swap');
* {font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    background-color: blanchedalmond;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    padding: 25px;
    background: #ffffff;
    text-align: justify;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.389);
    position: relative;
}
.card::before{
    content: ' ';
    position: absolute;
 top:0;
 right: 0;
 border: 20px solid transparent;
 border-top: 20px solid #e0218a;
 border-right: #e0218a 20px solid;
}

.icon {
    margin-bottom: 20px;
}

.icon img{
    width: 250px;

}
.content{
    height:215px;
    overflow: hidden;

    position: relative;
}

.content::before{
    content: '';
    position:absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(transparent, #ffffff);
}
.contenth3{
    text-align: center;
    margin-bottom: 15px;
    font-size: 20px;
    position: relative;
}
.content h3::before {
content: '';
    position:absolute;
    height: 2px;
    width: 40px;
    background-color: #e0218a;
    bottom: 4px;
    border-radius: 100px;

}
.contentp{
    color: black;
}
#read_button{
    border: none;
    padding: 10px;
    border-radius: 2px;
    margin-top: 15px;
    background-color: #e0218a;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.2s ease-in-out;
}
#read_button:hover{
    background-color: transparent;
    color: #e0218a;
    transition: all 0.2s ease-in-out;
}
.card.active .content {
    height: auto;
}

.card.active .content::before{
    visibility: hidden;
}